@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --pry-clr: #0c4651;
  --sec-clr: #c6ff2a;

  /* BLACKS */
  --pry-dark: #061215;
  --pry-dark-sub: #1d1f21;
  --pry-light: #f3f3f3;
  --pry-light-sub: #f8f8f8;

  --text-clr-light: #fff;
  --text-clr-emph: #ccc;
  --text-clr-dark: #000;
  --text-clr-muted: #444;

  --card-bg-light: #ffffff;
  --card-bg-dark: #0c0c0c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--pry-light);
  line-height: 1.6;
  color: var(--text-clr-dark);
}
.main-inner {
  max-width: 100%;
  min-height: 100vh;
}
section.pricing {
  padding: 0 2.5rem;
}
.pricing-inner {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
header.pricing__header {
  text-align: center;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.card {
  border: 1px solid;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
}
.light--card {
  border-color: var(--pry-clr);
  background: var(--card-bg-light);
  color: var(--text-clr-dark);
}
.dark--card {
  border-color: var(--sec-clr);
  background: var(--pry-dark-sub);
  color: var(--text-clr-light);
}
.top,
.bottom {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bottom--spacing {
  justify-content: space-between;
}
.top .card__icon {
  padding-top: 0.3rem;
}
.pro--card .top .card__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__icon i,
.popular i {
  font-size: 1.2rem;
  background-color: var(--sec-clr);
  padding: 0.3rem;
  color: var(--text-clr-dark);
  border: 1px solid darkgray;
  border-radius: 50%;
}
.popular {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.popular span {
  font-size: 0.8rem;
}

.text-wrapper .card__title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.text-wrapper .card__desc p {
  font-size: 0.9rem;
  font-weight: 450;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.price-main p {
  font-size: 2.5rem;
  font-weight: 400;
}
.bottom--dark .price-main p {
  color: var(--sec-clr);
}
.price-sub {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
.bottom--light .card__price .price-sub span {
  color: var(--text-clr-muted);
}
.bottom--dark .card__price .price-sub span {
  color: var(--text-clr-emph);
}

.fc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fc-wrapper .card__features ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style: none;
}
.fc-wrapper .card__features ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.bottom--light .feature-icon i {
  color: var(--pry-clr);
}
.bottom--dark .feature-icon i {
  color: var(--sec-clr);
}
.feature-text {
  font-size: 0.8rem;
}

.card-cta button {
  padding: 0.5rem 1rem;
  width: 100%;
  display: inline-block;
  background-color: var(--sec-clr);
  border: none;
  border-radius: 0.25rem;
}
.cta-btn:focus-visible {
  outline: 3px solid var(--pry-clr);
  outline-offset: 3px;
}